#map { height: 600px; width: 100%; }

body{

    background-image: url('images/image1.png');
    background-size: 1041.89px 795.276px;
    
    background-repeat: no-repeat;
    
    
}

header{
    background-color: rgb(32, 29, 91);
    color:white;
    font-size:40px;
    text-align:left;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-style: italic !important;
   
   
    
}

.navbar .nav-link {
    color: white !important; 
    font-size: 15px;
    padding: 10px 15px; 
    transition: background-color 0.3s, color 0.3s; 
    border: none; 
    
}


.navbar .nav-link {
    color: white; 
    font-size: 15px;
    padding: 10px 15px; 
    border: none; 
    transition: background-color 0.3s, color 0.3s; 
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}


.navbar .nav-link:hover {
    background-color: white !important; 
    color: #212d8b !important; 
}


.navbar {
    background-color: #212d8b !important; 
    padding: 5px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.navbar-brand {
    color: white !important; 
}


.navbar-toggler {
    border: none !important; 
    background-color: transparent !important; 
}


.navbar-toggler-icon {
    background-color: white !important; 
}

h1{
    font-size:60px;
    padding: 10px 0px 0px 0px;
    margin:3px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    
    
}

h2{
    font-size:60px;
    color:#f88f45;
    text-align:center;
    margin:3px;
    padding: 10px 0px 0px 0px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-style: italic;s
}

h3{
    font-size:20px;
    text-align:center;
    padding: 10px 0px 40px 0px;
    margin:3px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-style: italic;

}

h4{
    font-size:60px;
    padding: 10px 0px 40px 0px;
    margin:3px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}



h6 {
    font-size:20px;
    text-align:center;
    color:#ffb078;
    padding: 10px 260px 10px 260px;
    margin:3px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    
    font-style: italic;
}

h7 {
    font-size:20px;
    text-align:center;
    color:#f88f45;
    padding: 10px 260px 10px 260px;
    margin:3px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}
.container {
    max-width: 10000px;
    
}



#map {
    width: 60%;
    height: 400px;
    padding: 0px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
}


.pricing {
    padding: 50px 20px;
    background-color: #5997d553;
    background-image:url('images/price-image.jpg');
    background-size:cover;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pricing h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color:#f88f45;
    font-size: 60px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    
}

.plan {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 4px 5px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 250px;
    text-align: center;
    color:black;
}



.card {
    background-color: #5997d553;
    background-image: url('images/front-image.jpg');
    background-size:cover;
    padding: 90px 20px;
    margin:20px;
    margin-left: 80px;
    margin-right: 80px;
    
}

.card-title{
    color:white;
    font-size: 40px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}

p {
    color:black;
    font-size: 20px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    
    font-style: italic;
}

#join-now {
    background-color: #f88f45 !important; 
    color: white !important; 
    border: none; 
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}

#join-now:hover {
    background-color: #ffb078 !important; 
}

.section-one {
    text-align: center;
}

#list {
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    
    font-style: italic;
    
}

.contact{
    background-color: #212d8b;
    color: white !important;
    text-align: center;
    padding: 20px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}

.card-text {
    color:white !important;
}



#footer {
    color: white;
    background-color: #212d8b;
    
}

